@model DB_Project.Models.MenuModel

<h4>MenuModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type">
                    <option value="morning">Morning</option>
                    <option value="day">Day</option>
                    <option value="evening">Evening</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].DishId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DishId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Dish",new { id=item.DishId }) |
                    @Html.ActionLink("Details", "Details", "Dish", new {  id=item.DishId }) |
                    @Html.ActionLink("Delete", "RemoveDish", "Menu", new { id=item.DishId })
                </td>
            </tr>
        }
    </tbody>
</table>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div>
                        <a asp-action="Index" asp-controller="Menu">Back to Menus</a>
                    </div>
                </th>
                <th>
                </th>
                <th>
                    <a asp-action="AddDish" asp-controller="Menu">Add Dish</a>
                </th>
            </tr>
        </thead>
    </table>

